<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Teacher</h1>
    <form action="" method="POST">
     {% csrf_token %}
     <label for="">Name</label><br>
     <input type="text" name="name" value="{{form.name}}"/><br><br>
     <label for="">email</label><br>
     <input type="text" name="email" value="{{form.email}}"/><br><br>
     <label for="">phone</label><br>
     <input type="text" name="phone" value="{{form.phone}}"/><br><br>
     <label for="">department</label><br>
     <input type="text" name="department" value="{{form.department}}"/><br><br>
     <input type="submit" value="update" />
     <a href="/Logout" style="color: red; text-decoration: none;">Logout</a></div>

    </form>
</body>
</html>